:root { /* PALETA DE COLORES */
    --color-violetaF:#413e4a;
    --color-violetaC:#73626e;
    --color3:#b38184;
    --color-rosa:#f0b49e;
    --color-beige:#f7e4be;
  }
  *{/*  CON ESTOS ATRIBUTOS SETEAMOS TODO EN 0 PARA EVITAR CAMBIOS DE TAMAÑO INESPERADOS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
  } 

  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 3em;
    background-color: var(--color-violetaF);
    color: var(--color-beige);
  }

  
  #banner{
    text-align: center;
    font-size: 3em;
    color: var(--color-beige);
  }
  #footer{
    padding-bottom: 1em 0;/*  Le damos un poco de despeje */
    margin-top: auto;
  }

  #navbar ul {  
    display: flex;
    flex-direction: row; /* Con estos 3 centro todo */
    justify-content: center;

    font-size: 200%;
    padding-top: 20px;
    padding-bottom: 20px;
    
    list-style-type: none;    /*  SACAMOS LAS VIÑETAS */
    background-color:var(--color-violetaF);
  }
  
#navbar li a {  
    padding-right: 3em;
    color: var(--color-beige);  
    text-decoration: none;  /* SACAMOS EL UNDERLINED  */
  }
  #navbar li a:hover {
    text-decoration: underline;
  } 

  .contenedorMenus{
    padding: 1em;
    font-size: 20px;
  }
.contenedorMenus p{
  text-align: center;
  color:var(--color-violetaC)
}

.contenedorMenus ul {
  list-style-type: none;
  overflow: hidden;
}
.contenedorMenus h1 {
  text-align: center;
  border-style: solid;
  padding: 1em;
}

.tablaComidas{
    display: flex; 
    justify-content: center;
    flex-direction: row;
  padding: 2em;
   }
  
  .tablaComidas th{
    padding-left: 2em;
    }
  
  .tablaComidas td{   
    text-align: center;  
      padding-top: 2em;
      padding-left: 2em;
      padding-bottom: 2em;
    }
  
  .tablaComidas tr{
        color:var(--color-beige)
      }


#terminosReserva{
    text-align: center;
    padding: 1em;
    color: var(--color-beige); 
   } 
   
#formularioDeReserva {     
    text-align: center;
    border: #f7e4be 5px solid;
    padding: 2em;   
  }

#formularioDeReserva label{
color: var(--color-beige); 
font-size: 18px;
}
#formularioDeReserva h1{  
color: var(--color-beige); 
}